<h1 class="mb-4">Registro de usuario</h1>

<form method="POST" action="/register" class="col-md-4">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      required
    />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      required
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      required
    />
  </div>
  <div class="mb-3">
    <label for="password2" class="form-label">Repite la contraseña</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Crear usuario</button>
</form>
